<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @product.model %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category_id %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
